<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>All Collections</title>

		<style>
			img {
				height: 12rem;
				width: 12rem;
			}
		</style>
	</head>
	<body>
		<% collections.forEach(collection => { %>
		<h1>title: <%= collection.title %></h1>
		<p>semi description: <%= collection.semiDescription %></p>
		<p>description: <%= collection.description %></p>
		<img src="/<%= collection.bgImage.path %>" alt="Background Image" />

		<form action="/admin/collections/delete-collection" method="POST">
			<%- include('../../includes/csrfToken') %>
			<input type="hidden" name="id" value="<%= collection._id %>" />
			<button type="submit">Delete collection</button>
		</form>

		<h3>products</h3>
		<% collection.products.forEach(product => { %>
		<h1>title: <%= product.title %></h1>
		<p>description: <%= product.description %></p>
		<p>price: <%= product.price %></p>

		<% product.images.forEach(image => { %>
		<img src="/<%= image.path %>" alt="<%= image.originalname %>" />
		<% }) %>
		<form action="/admin/collections/delete-product" method="POST">
			<%- include('../../includes/csrfToken') %>
			<input type="hidden" name="id" value="<%= product.id %>" />
			<input type="hidden" name="type" value="<%= collection.title %>" />
			<button type="submit">delete product</button>
		</form>

		<a
			href="/admin/collections/update-product/<%= product._id %>?type=<%= collection.title %>"
			>Update Product</a
		>
		<% }) %>
		<hr />
		<% }) %>
	</body>
</html>
